<html>

<head>
    <title>ALL</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin_all.css') }}">
</head>

<h1 align="center">ALL EMPLOYEE TIMESHEET</h1>
<form action="/all" method="POST">
    <input type="text" name="entered_eid" placeholder="ENTER EID" required>
    <button class="submit_button" type="submit" name="seach_by_id">SEARCH</button>
</form>
<table>
    <thead>
        <tr>
            <th>EmployeeID</th>
            <th>Start_Date</th>
            <th>End_Date</th>
            <th>Saturday</th>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Active_Flag</th>
        </tr>
    </thead>
    <tbody>
        {% for val in adminAllData %}
        <tr>
            <td>{{val[0]['eid']}}</td>
            <td>{{val[0]['start_date']}}</td>
            <td>{{val[0]['end_date']}}</td>
            <td>{{val[0]['saturday']}}</td>
            <td>{{val[0]['sunday']}}</td>
            <td>{{val[0]['monday']}}</td>
            <td>{{val[0]['tuesday']}}</td>
            <td>{{val[0]['wednesday']}}</td>
            <td>{{val[0]['thursday']}}</td>
            <td>{{val[0]['friday']}}</td>
            <td>{{val[0]['active_flag']}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<label class="logoutLblPos">
    <button name="submit2" type="button"><a href="/employee_logout">LOGOUT</a></button>
</label>
<label class="backLblPos">
    <button name="submit3" type="button"><a href="/admin_select">BACK</a></button>
</label>
</html>