<html>

<head>
    <title>PENDING</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin_pending.css') }}">
</head>
<h1 align="center">PENDING EMPLOYEE TIMESHEET</h1>
<form action="" method="POST">
    <input type="text" name="get_id" placeholder="ENTER ID" required>
    <button class="submit_button" type="submit" name="seach_by_id">SEARCH</button>

</form>
<table>
    <thead>
        <tr>
            <th>EmployeeID</th>
            <th>Start_Date</th>
            <th>End_Date</th>
            <th>Saturday</th>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Approve</th>
            <th>Reject</th>
        </tr>
    </thead>
    <tbody>
        {% for val in employeeAdminData %}

        <tr>
            <td>
                {{val[0][0]['eid']}}
            </td>
            <td>{{val[0][0]['start_date']}}</td>
            <td>{{val[0][0]['end_date']}}</td>
            <td>{{val[0][0]['saturday']}}</td>
            <td>{{val[0][0]['sunday']}}</td>
            <td>{{val[0][0]['monday']}}</td>
            <td>{{val[0][0]['tuesday']}}</td>
            <td>{{val[0][0]['wednesday']}}</td>
            <td>{{val[0][0]['thursday']}}</td>
            <td>{{val[0][0]['friday']}}</td>
            <td><button type="approvebutton"><a
                        href="/status?eid={{val[0][0]['eid']}}&aid={{val[0][0]['aid']}}&ed={{val[0][0]['end_date']}}&status=APPROVED">APPROVE</button></a>
            </td>
            <td><button type="rejectbutton"><a
                        href="/status?eid={{val[0][0]['eid']}}&aid={{val[0][0]['aid']}}&ed={{val[0][0]['end_date']}}&status=REJECTED">REJECT</button></a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td> </td>
            <td>{{val[1][0]['saturday']}}</td>
            <td>{{val[1][0]['sunday']}}</td>
            <td>{{val[1][0]['monday']}}</td>
            <td>{{val[1][0]['tuesday']}}</td>
            <td>{{val[1][0]['wednesday']}}</td>
            <td>{{val[1][0]['thursday']}}</td>
            <td>{{val[1][0]['friday']}}</td>
            <td> </td>
            <td> </td>
        </tr>
        {% endfor %}
    </tbody>

</table>
<label class="logoutLblPos">
    <button name="submit2" type="button"><a href="/employee_logout">Logout</a></button>
</label>

</html>