<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Timesheet</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='employee_timesheet_enter.css') }}">
	<h1>TIMESHEET ENTRY</h1>
	<h2>Min: 0 hours Max: 10 hours</h2>
</head>

<body>
	<div>
		<table>
			<thead>
				<tr>
					<th>Employee ID</th>
					<th>Status</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Saturday</th>
					<th>Sunday</th>
					<th>Monday</th>
					<th>Tuesday</th>
					<th>Wednesday</th>
					<th>Thursday</th>
					<th>Friday</th>
				</tr>
				<tr>
					<form action="/employee_timesheet_enter" method="POST">
						<td><input readonly type="text" value="{{ct[0]}}" name="eid" size="17"></td>
						<td><input readonly type="text" value="{{ct[10]}}" name="status" size="17"></td>
						<td><input readonly type="text" value="{{ct[1]}}" name="start_date" size="17">
						</td>
						<td><input readonly type="text" value="{{ct[2]}}" name="end_date" maxlength="4" size="17"></td>
						<td><input type="number" value="{{ct[3]}}" name="sat" min="0" size="17">
						</td>
						<td><input type="number" value="{{ct[4]}}" name="sun" min="0" size="17">
						</td>
						<td><input type="number" value="{{ct[5]}}" name="mon" min="0" size="17">
						</td>
						<td><input type="number" value="{{ct[6]}}" name="tue" min="0" size="17">
						</td>
						<td><input type="number" value="{{ct[7]}}" name="wed" min="0" size="17">
						</td>
						<td><input type="number" value="{{ct[8]}}" name="thu" min="0" size="17">
						</td>
						<td><input type="number" value="{{ct[9]}}" name="fri" min="0" size="17">
						</td>
				</tr>
			</thead>
		</table>
	</div>
	<div class="msg">{{ msg }} </div>
	<div class="button_container">
		{% if ct[10].lower() == "submitted" %}
		<input type="submit" value="SUBMIT" name="SUBMIT" disabled class="button1" />
		{% endif %}
		{% if ct[10].lower() == "approved" %}
		<input type="submit" value="SUBMIT" name="SUBMIT" disabled class="button1" />
		{% endif %}
		{% if ct[10].lower() == "pending" %}
		<input type="submit" value="SUBMIT" name="SUBMIT" class="button1" />
		{% endif %}
		{% if ct[10].lower() == "rejected" %}
		<input type="submit" value="SUBMIT" name="SUBMIT" class="button1" />
		{% endif %}
		<label class="logoutLblPos">
			<button name="submit2" type="button"><a href="/employee_logout">LOGOUT</a></button>
		</label>
		</form>
	</div>

</body>

</html>