<html>

<head>
    <title>Aircraft website</title>
    <link href="{{ url_for('static', filename='air.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <div class="content">
            <h1>WELCOME TO AIRCRAFT</h1>
            <div>
                <a href="/employee_login"><input type="submit" class="button" name="Employee_button"
                        value="EMPLOYEE  LOGIN"></a>
                <a href="/admin_login"><input type="submit" class="button" name="Admin_button" value="ADMIN  LOGIN"></a>
            </div>
        </div>
    </header>
</body>

</html>